.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
  }
  
  .resultModal {
    width: 60%;
    height: 45%;
    background-color: var(--nav-light);
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .resultModal button {
    font-family: var(--button-font);
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: var(--trade-third-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resultModal h3 {
    max-width: 15ch;
    font-family: var(--text-font);
    font-size: 1.6em;
  }