.gamepickcontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 75px;
  height: 75px;
  background-color: var(--nav-dark);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > img {
  width: 40px;
  height: 40px;
}

.active {
  transform: rotate(45deg);
  border: 5px solid white;
}

.activeImg {
  transform: rotate(-45deg);
}
