.gatherGameWindow {
  width: 100%;
  height: 100%;
}

.counters {
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.popWindow {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}

.popButton {
  background-color: transparent;
  border-radius: 50%;
}

.popImage {
  border-radius: 50%;
  margin: auto;
  height: 100%;
  background-color: black;
}
