.gatherGameWindow {
  width: 100%;
  height: 100%;
}

.counters {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popWindow {
  margin: auto;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}

.popButton {
  background-color: transparent;
  border-radius: 50%;
}

.popButton > p {
  padding: 0.1em;
  height: 1.5em;
  width: 1.5em;
  line-height: 1em;
  border-radius: 50%;
  font-family: var(--button-font);
  color: var(black);
  font-size: 2em;
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  translate: calc(2.5em + 2vh) calc(0.8em + 2vw);
  background-color: var(--gather-second-color);
  border: 1px solid black;
}

.popImage {
  border-radius: 50%;
  margin: auto;
  height: 100%;
  filter: drop-shadow(2px 8px 7px black);
}

.counters > div {
  width: 40%;
  height: 50%;
  font-family: var(--button-font);
  font-size: calc(0.8em + 1vw);
  background-color: var(--gather-second-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trapPopup {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trapText {
  width: 50%;
  height: 40%;
  padding: 10px;
  font-family: var(--text-font);
  font-size: 1.5em;
  background-color: var(--nav-light);
  border-radius: 50px;
}

.trapText > p {
  width: 90%;
  margin: auto;
}
