.presentationGather {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.presentationGather div {
    max-width: 25ch;
    padding: 30px;
    font-family: var(--text-font);
    font-size: 1.5em;
    background-color: var(--nav-light);
    border-radius: 50px;
}

.presentationGather span {
    background-color: var(--nav-btn);
    font-family: var(--button-font);
    border-radius: 50px;
    padding: 5px 20px;
}

.presentationGather button {
    font-family: var(--button-font);
    font-size: 1.5em;
    background-color: var(--nav-btn);
    border-radius: 50px;
    padding: 10px 30px;
}