.randomItemDisplay {
  position: relative;
  margin-left: -50%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomItemImg {
  background-color: var(--trade-third-color);
  border-radius: 50%;
}

.randomItemImg,
.randomItemDisplay img {
  width: 25vh;
  height: 25vh;
}

.randomItemName {
  margin-top: 10px;
}

.randomItemName > h2 {
  font-family: var(--text-font);
  background-color: var(--trade-third-color);
  border-radius: 50px;
  padding: 5px;
  width: fit-content;
}
