.merchantText {
  width: 90%;
  height: 25%;
  background-color: var(--nav-light);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: -10%;
  display: flex;
  align-items: center;
}

.merchantText h1 {
  margin-left: 15%;
  text-align: left;
  font-family: var(--text-font);
  font-size: 1.6em;
  max-width: 20ch;
}
