@media (max-width: 740px) {
.start{
    background-color: #FFB039;
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

h1#title{
   font-size: 6ch;
   text-shadow:   -1px -1px 0 #a88a8a,  
    1px -1px 0 #a88a8a,
    -1px 1px 0 #a88a8a,
     1px 1px 0 #a88a8a,
     1px 1px 10px #070606;color:#0f0e0e;
     margin-left: 150px;
     margin-right: 150px;
     border: solid;
     border-radius: 15px;
     background-color: #f97800;
     border-color: black;
     
}

p#instruction{
    font-size: 4ch;
}
}
@media (min-width: 740px) {
.start{
    background-color: #FFB039;
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

h1#title{
   font-size: 8ch;
   margin: 0px;
   display: ruby;
   text-shadow:   -1px -1px 0 #fff,  
    1px -1px 0 #a68f8f,
    -1px 1px 0 #a68f8f,
     1px 1px 0 #a68f8f,
     1px 1px 10px #070606;color:#0f0e0e;
     margin: auto;
     border: solid;
     border-radius: 15px;
     background-color: #f97800;
     border-color: #fff;
}

p#instruction{
    font-size: 5ch;
}

#button{
    width: 350px;
}
}
