@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
#root {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: var(--nav-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color variables */
  --nav-dark: #f97700;
  --nav-light: #ffb039;
  --nav-btn: #d9d9d9;
  --trade-first-color: #ffc700;
  --trade-second-color: #fbaf4c;
  --trade-third-color: #ffea9e;
  --gather-first-color: #2caa00;
  --gather-second-color: #9add82;
  --combat-first-color: #ed3227;
  --combat-second-color: #f48078;
  --combat-third-color: #efb0ac;

  /* font variables */
  --text-font: "Indie Flower", sans-serif;
  --button-font: "Patrick Hand", sans-serif;
}

.App {
  margin: auto;
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.AppTrade {
  background-color: var(--trade-third-color);
  transition: 0.5s ease-out;
}

.AppGather {
  background-color: var(--gather-second-color);
  transition: 0.5s ease-out;
}

.AppCombat {
  background-color: var(--combat-third-color);
  transition: 0.5s ease-out;
}

.button-confirm {
  font-family: var(--button-font);
  color: var(--trade-third-color);
  font-size: 1.3em;
  background-color: green;
  border-radius: 50px;
  margin: 5px 10px;
  padding: 10px 20px;
}

.button-cancel {
  font-family: var(--button-font);
  color: var(--trade-third-color);
  font-size: 1.3em;
  background-color: red;
  border-radius: 50px;
  margin: 5px 10px;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}
